@charset "UTF-8";

body {
    margin: 0;    
}

img {
    width: 100vw;
}

        /* REMOVENDO A BARRA DE ROLAGEM */

::-webkit-scrollbar { 
        /* Edge, Chrome, Safari e Opera */
    display: none;
}

html {         /* Firefox */
    scrollbar-width: none;
}

a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: brown;
    margin: -5px 0;
    padding: 10px 0;
}

a:hover {
    background-color: #f00;
}