@charset "UTF-8";

body {
    background: url('../imagens/frame-iphone.png') no-repeat center fixed, url('../imagens/fundo-madeira.jpg') center/cover fixed;
    
}

main {
    text-align: right;
}

iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 266px;
    height: 474px;
    background: url('../imagens/tela-home.jpg') center/cover;
}

img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 1px 1px 5px 0px #000000b0;
    box-sizing: border-box;
    margin-bottom: 10px;
}

img:hover {
    border: 2px solid #ffffff78;
    transform: translate(-3%, -3%);
    box-shadow: 2px 2px 8px 0px #000000b0;
    /*transition-duration: 2s, 10s, 0s;
    transition-property: border, transform, box-shadow;*/
    transition: border 0s, transform 0s, box-shadow 0s;
}