@charset "UTF-8";

body {
    background: url('../imagens/frame-iphone.png') center fixed no-repeat, url('../imagens/fundo-madeira.jpg') center/cover fixed; 
    /* background-position/background-size */
}

main {
    text-align: right;
}

iframe {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 265px;
    height: 476px;
    /*border: none;*/
    background-color: #000;
}

a {
    /*display: block; -> toda a largura do elemento é clicável! */
}

img#home {
    margin-top: 24vh;
}

img {
    border-radius: 50%;
    margin-bottom: 3px;
    box-shadow: -10px 0px 5px 1px #00000073;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
}

img:hover {
    border: 2px solid #ffffff4f;
}

a + a { 
    /* elementos inline (embutidos) só podem ter margens na direita e na esquerda */
    /*margin-top: 100px;*/
}
